<!-- Teachers List -->
<div class="row">
  <div class="small-12 large-offset-3 large-6 columns">
    <h3>Teacher List</h3>
    <a href="#" class="button float-right">Add new teacher</a>
    <table>
      <thead>
        <tr>
          <th>
            <a href="#">Name</a>
          </th>
          <th>
            <a href="#">Last Name</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mr. Joe</td>
          <td>Doe</td>
        </tr>
        <tr>
          <td>Mr. Joe</td>
          <td>Doe</td>
        </tr>
        <tr>
          <td>Mr. Joe</td>
          <td>Doe</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- /Teachers List -->
