<!-- Teacher Form -->
<div class="row">
  <div class="small-12 large-offset-3 large-6 columns">
    <h3>Teacher Form {{id}}</h3>
    <form>
      <div class="row">
        <div class="medium-12 columns">
          <label for="first-name">First Name</label>
          <input id="first-name" name="first-name" type="text" placeholder="First name" />
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns">
          <label for="last-name">Last Name</label>
          <input id="last-name" name="last-name" type="text" placeholder="Last name" />
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-3 columns float-left">
          <button type="submit" class="button expanded">Save</button>
        </div>
        <div class="small-12 medium-3 columns float-left">
          <button type="submit" class="button alert expanded">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- /Teacher Form -->
