<!--  Course Form -->
<div class="row">
  <div class="small-12 large-offset-3 large-6 columns">
    <h3>Course Form {{id}}</h3>
    <form>
      <div class="row">
        <div class="medium-12 columns">
          <label for="course-name">Name</label>
          <input id="course-name" name="course-name" type="text" placeholder="Course name" />
        </div>
      </div>
      <div class="row">
        <div class="small-11 medium-11 columns">
          <label for="starting-date">Starting date</label>
          <input id="starting-date" name="starting-date" type="date" />
        </div>
        <div class="small-1 medium-1 columns">
          <label>&nbsp;</label>
          <span class="alert badge">&nbsp;</span>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="duration">Duration</label>
          <input id="duration" name="duration" type="number" placeholder="Number of days"/>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns">
          <label for="teacher">Taught by</label>
          <select id="teacher" name="teacher">
            <option value="teacher-one">Teacher one</option>
            <option value="teacher-two">Teacher two</option>
            <option value="teacher-three">Teacher three</option>
            <option value="teacher-four">Teacher four</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-3 columns float-left">
          <button type="submit" class="button expanded">Save</button>
        </div>
        <div class="small-12 medium-3 columns float-left">
          <a [routerLink]="['/courses']" class="button alert expanded">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- /Course Form -->
