<!--  Course Form -->
<div class="row">
  <div class="small-12 large-offset-3 large-6 columns">
    <h3 *ngIf="isCreating">Create new course</h3>
    <h3 *ngIf="!isCreating">Edit course</h3>
    <form (ngSubmit)="formSubmit($event, courseForm)" #courseForm="ngForm">
      <div class="row">
        <div class="medium-12 columns">
          <label for="course-name">Name</label>
          <input
          id="course-name"
          name="courseName"
          type="text"
          placeholder="Course name"
          value={{newCourseName}}
          [(ngModel)]="newCourseName"
          #courseName="ngModel"
          required />
          <div *ngIf="courseName.errors?.required && courseName.touched" class="callout alert">
            <p> course Name is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 medium-11 columns">
          <label for="starting-date">Starting date</label>
          <input
          id="starting-date"
          name="startingDate"
          type="date"
          placeholder="Course startingDate"
          value={{newCourseDate}}
          [(ngModel)]="newCourseDate"
          #startingDate="ngModel"
          required />
          <div *ngIf="startingDate.errors?.required && startingDate.touched" class="callout alert">
            <p>starting Date is required</p>
          </div>
        </div>
        <div class="small-1 medium-1 columns">
          <label>&nbsp;</label>
          <span class="alert badge">&nbsp;</span>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="duration">Duration</label>
          <input
          id="duration"
          name="duration"
          type="number"
          placeholder="Number of days"
          value={{newCourseDuration}}
          [(ngModel)]="newCourseDuration"
          #duration="ngModel"
          required />
          <div *ngIf="duration.errors?.required && duration.touched" class="callout alert">
            <p>duration is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns">
          <label for="teacher">Taught by</label>
          <select
            id="teacher"
            name="teacher"
            [(ngModel)]="newCourseTeacher"
            #courseTeacher="ngModel">
            <option
              *ngFor="let teacher of teachers"
              value={{teacher.id}}
              [selected]="teacher.id === newCourseTeacher">
              {{teacher.firstName}} {{teacher.lastName}}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-3 columns float-left">
          <button type="submit" class="button expanded" [disabled]="courseForm.invalid">Save</button>
        </div>
        <div class="small-12 medium-3 columns float-left">
          <a [routerLink]="['/courses']" class="button alert expanded">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- /Course Form -->
